<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="domos.comm.mappers.BoardMapper">
 	
 	<insert id="create"> 
 	insert into tbl_board (title, content, writer)
 	value(#{title}, #{content}, #{writer})
 	</insert>
 	
 	<select id="read" resultType="demos.comm.domain.BoardVO">
 	select 
 	 	bno, title, content, writer, regdate, viewcnt
 	from 
 		tbl_board
 	where bno = #{bno}
 	</select>
 	
 	<update id="update">
 	update tbl_board set title=#{title}, content=#{content}
 	where bno = #{bno}
 	</update>
 	
 	<delete id="delete">
 	delete from tbl_board where bno = #{bno}
 	</delete>
 	
 	<select id="listAll"  parameterType="java.util.HashMap" resultType="demos.comm.domain.BoardVO">

 	SELECT 
 		bno, title, content, writer, regdate, viewcnt
 	FROM
 		tbl_board
 	<include refid="search"></include>
 	ORDER BY BNO DESC, REGDATE DESC
	
 	</select>
 	
 	<select id="countArticle" resultType="int">
 		SELECT COUNT(*) FROM TBL_BOARD
 		<include refid="search"></include>
 	</select>
 	
 	<sql id="search">
 		<choose>
 			<!--  검색옵션이 전체 검색일경우  -->
 			<when test="searchOption == 'all'">
	            WHERE writer like CONCAT('%',#{keyword},'%')
	            OR content like CONCAT('%',#{keyword},'%')
	            OR title like CONCAT('%',#{keyword},'%')
 			</when>
 			<!--  전체 검색이 아닐 경우 -->
 			<otherwise>
 				WHERE ${searchOption} LIKE CONCAT('%',#{keyword},'%')
 			</otherwise>
 		</choose>
 	</sql>
 </mapper>